@{
    ViewData["Title"] = "Library";
}
<h3>@ViewData["Title"]</h3>
<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .button {
        background-color: #900C3F;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 12px;
    }
   
    .button:hover {
         opacity: 1
    }
    .img {
        border: 10px solid transparent;
      
        border-radius: 12%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <img src="~/images/items/books.jpg" alt="Library" style="width:100%;" class="img">
            <div class="mdl-card__actions mdl-card--border centered">
                <a class="mdl-button mdl-button--colored button" asp-controller="Collection" asp-action="Index">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/images/people/members.png" alt="Library" style="width:100%;" class="img">
            <div class="mdl-card__actions mdl-card--border centered ">
                <a class="mdl-button mdl-button--colored button" asp-controller="Member" asp-action="Index">
                    View Members
                </a>
            </div>
        </div>
    </div> 
</div>
