@{
    ViewData["Title"] = "Library";
}
<h3>@ViewData["Title"]</h3>
<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="container">
    <img src="~/images/items/books.jpg" alt="Library" style="width:45%;">
    <div class="mdl-card__actions mdl-card--border centered">
        <a class="mdl-button mdl-button--colored" asp-controller="Collection" asp-action="Index">
            View Collection
        </a>
    </div>
</div>


           
